
    {% include 'header.html' %}
    <div class="main-container">
        {% block content %}
        <!-- Default content -->
        {% endblock %}
    </div>
    {% include 'footer.html' %}


    <script src="{% static 'js/jquery-1.11.0.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/bootstrap.bundle.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/plugins.js' %}"></script>
    <script src="https://cdn.jsdelivr.net/npm/swiper/swiper-bundle.min.js"></script>
    <script src="https://unpkg.com/aos@2.3.1/dist/aos.js"></script>
    <script type="text/javascript" src="{% static 'js/script.js' %}"></script>
    <script src="https://code.iconify.design/iconify-icon/1.0.7/iconify-icon.min.js"></script>
    <script src="{% static '/assets/vendor/libs/jquery/jquery.js' %}"></script>
    <script src="{% static '/assets/vendor/libs/popper/popper.js' %}"></script>
    <script src="{% static '/assets/vendor/js/bootstrap.js' %}"></script>
    <script src="{% static '/assets/vendor/libs/perfect-scrollbar/perfect-scrollbar.js' %}"></script>
  
    <script src="{% static '/assets/vendor/js/menu.js' %}"></script>
      <!-- endbuild -->
  
      <!-- Vendors JS -->
  
      <!-- Main JS -->
    <script src="{% static '/assets/js/main.js' %}"></script>
  
</body>
  
</html>