{% load static %}
{% include 'header.html' %}
<div class="row padding-side">
    <div class="col">
        <div class="room-item position-relative bg-black rounded-4 overflow-hidden">
          <img src="{% static 'images/room1.jpg' %}" alt="img" class="post-image img-fluid rounded-4">
          <div class="product-description position-absolute p-5 text-start">
            <h4 class="display-6 fw-normal text-white">Grand deluxe rooms</h4>
            <p class="product-paragraph text-white">Lorem ipsum dolor sit amet, consectetur adipisicing elit.
              Molestiae at illum ipsum similique doloribus.</p>
            <table>
              <tbody>
                <tr class="text-white">
                  <td class="pe-2">Price:</td>
                  <td class="price">299$ /Pernight</td>
                </tr>
                <tr class="text-white">
                  <td class="pe-2">Size:</td>
                  <td>10 ft</td>
                </tr>
                <tr class="text-white">
                  <td class="pe-2">Capacity:</td>
                  <td>Max persion 2</td>
                </tr>
                <tr class="text-white">
                  <td class="pe-2">Bed:</td>
                  <td>Normal Beds</td>
                </tr>
                <tr class="text-white">
                  <td class="pe-2">Services:</td>
                  <td>Wifi, Television, Bathroom,...</td>
                </tr>
              </tbody>
            </table>
            <a href="/">
              <p class="text-decoration-underline text-white m-0 mt-2">Browse Now</p>
            </a>
          </div>
        </div>
        <div class="room-content text-center mt-3">
          <h4 class="display-6 fw-normal"><a href="/">Grand deluxe rooms</a></h4>
          <p><span class="text-primary fs-4">$269</span>/night</p>
        </div>
      </div>
      <div class="col">
        <div class="room-item position-relative bg-black rounded-4 overflow-hidden">
          <img src="{% static 'images/room1.jpg' %}" alt="img" class="post-image img-fluid rounded-4">
          <div class="product-description position-absolute p-5 text-start">
            <h4 class="display-6 fw-normal text-white">Grand deluxe rooms</h4>
            <p class="product-paragraph text-white">Lorem ipsum dolor sit amet, consectetur adipisicing elit.
              Molestiae at illum ipsum similique doloribus.</p>
            <table>
              <tbody>
                <tr class="text-white">
                  <td class="pe-2">Price:</td>
                  <td class="price">299$ /Pernight</td>
                </tr>
                <tr class="text-white">
                  <td class="pe-2">Size:</td>
                  <td>10 ft</td>
                </tr>
                <tr class="text-white">
                  <td class="pe-2">Capacity:</td>
                  <td>Max persion 2</td>
                </tr>
                <tr class="text-white">
                  <td class="pe-2">Bed:</td>
                  <td>Normal Beds</td>
                </tr>
                <tr class="text-white">
                  <td class="pe-2">Services:</td>
                  <td>Wifi, Television, Bathroom,...</td>
                </tr>
              </tbody>
            </table>
            <a href="/">
              <p class="text-decoration-underline text-white m-0 mt-2">Browse Now</p>
            </a>
          </div>
        </div>
        <div class="room-content text-center mt-3">
          <h4 class="display-6 fw-normal"><a href="/">Grand deluxe rooms</a></h4>
          <p><span class="text-primary fs-4">$269</span>/night</p>
        </div>
      </div>
      <div class="col">
        <div class="room-item position-relative bg-black rounded-4 overflow-hidden">
          <img src="{% static 'images/room1.jpg' %}" alt="img" class="post-image img-fluid rounded-4">
          <div class="product-description position-absolute p-5 text-start">
            <h4 class="display-6 fw-normal text-white">Grand deluxe rooms</h4>
            <p class="product-paragraph text-white">Lorem ipsum dolor sit amet, consectetur adipisicing elit.
              Molestiae at illum ipsum similique doloribus.</p>
            <table>
              <tbody>
                <tr class="text-white">
                  <td class="pe-2">Price:</td>
                  <td class="price">299$ /Pernight</td>
                </tr>
                <tr class="text-white">
                  <td class="pe-2">Size:</td>
                  <td>10 ft</td>
                </tr>
                <tr class="text-white">
                  <td class="pe-2">Capacity:</td>
                  <td>Max persion 2</td>
                </tr>
                <tr class="text-white">
                  <td class="pe-2">Bed:</td>
                  <td>Normal Beds</td>
                </tr>
                <tr class="text-white">
                  <td class="pe-2">Services:</td>
                  <td>Wifi, Television, Bathroom,...</td>
                </tr>
              </tbody>
            </table>
            <a href="/">
              <p class="text-decoration-underline text-white m-0 mt-2">Browse Now</p>
            </a>
          </div>
        </div>
        <div class="room-content text-center mt-3">
          <h4 class="display-6 fw-normal"><a href="/">Grand deluxe rooms</a></h4>
          <p><span class="text-primary fs-4">$269</span>/night</p>
        </div>
      </div>
    </div>
    
      {% include 'footer.html' %}